<!--registration/signup/html-->
{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}
<div class="body">
  <div class="form">
    <h2 class="form-title">Sign up:</h2>
    <hr class="line">
    <div class="form_content">
      <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn"><input class= "btn_login" type="submit" value="Sign up"></div>
    </div>
  </form>
  <br><br><p >Already have an account? Log in here: <a class='btn_yellow' href="{% url 'login' %}"> Log in</a></p>
  </div>
</div>
{% endblock %}